
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<style>
 .vacios_{
   color: #e51717;font-weight: 600;
 }
</style>
       
<div class="col-lg-12 homeMain" style="    width: 80%;    margin: auto;" >

          <div style="text-align: center;">
            
            <img [src]="rutaImagen" style="  width: 70%;
            height: auto;
        " alt="imagen nosotros home"  >
            
        </div>
          
</div>  

<!-- <h1>CALENDAR</h1>
<app-calender></app-calender>
<h1>EMAIL</h1>
<app-compose></app-compose>
<app-inbox></app-inbox>
<app-read></app-read>
<h1>POST DETAIL</h1>
<app-post-details></app-post-details>
 <h1>PROFILE</h1>
<app-profile></app-profile> este ejecuta office365
<h1>SHOP</h1>

<h1>CHECKOUT</h1>
<app-checkout></app-checkout>
<h1>ECOM-CUSTOMERS</h1>
<app-ecom-customers></app-ecom-customers>
<h1>INVOICE</h1>
<app-invoice></app-invoice>
<h1>ORDER</h1>
<app-order></app-order>
<h1>PRODUCT-DETAIL</h1>
<app-product-detail></app-product-detail>
<h1>PRODUCTO-GRID</h1>
<app-product-grid></app-product-grid>
<h1>PRODUCT-LIST</h1>
<app-product-list></app-product-list>
-->