
<div cdkDropListGroup class="row kanban-bx">
<div class="col mb-3 kanbanPreview-bx" *ngFor="let column of boardService.getBoard$() | async">
	<div class="card-body">
	  <!-- Column Title -->
	  <div class="d-flex sub-card text-white bg-primary justify-content-between align-items-center">
		<h4 class="fs-20 mb-0 text-white font-w600">{{column.title}}</h4>
		<button mat-icon-button class="icon-delete" (click)="onDeleteColumn(column.id)">
		  <mat-icon style="font-size: 20px;">delete</mat-icon>
		</button>
	  </div>

	  <!-- Add New Card To Column -->
	  <app-dialog (emitText)="onAddCard($event, column.id)" [question]="'Add new card in ' + column.title + ' column'">
		<button mat-raised-button class="w-100 mb-3 btn-add">+</button>
	  </app-dialog>

	  <!-- Color Panel -->
	  <app-color-panel (emitColor)="onColorChange($event, column.id)"></app-color-panel>
	  
	  <div cdkDropList [cdkDropListData]="column.list" class="task-list" (cdkDropListDropped)="drop($event)">
		<div cdkDrag class="task-box sub-card" [ngStyle]="{background: column.color}" *ngFor="let item of column.list">
		  <app-board-item 
			[item]="item" 
			(emitText)="onAddComment($event, column.id)" 
			(emitCardItem)="onChangeLike($event, column.id)"
			(emitDeleteCard)="onDeleteCard($event, column.id)"
		  >
			<div *ngFor="let comment of item.comments">
			  <app-comment-item [comment]="comment" (emitComment)="onDeleteComment($event, column.id, item)"></app-comment-item>
			</div>
		  </app-board-item>
		</div>
	  </div>
	</div>
</div>
</div>
