<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
  <p style="color: black">Loading...</p>
</ngx-spinner>
<style>
  .mat-fab-extended {
    border-radius: 5px !important;
    width: auto;
    height: auto;
    padding: 0 16px;
    min-width: 64px;
    min-height: 36px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .mat-fab-extended span {
    margin-left: 8px;
  }

  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

  .mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 25px;
  }

  .mat-step-header {
    pointer-events: none !important;
  }

  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

  .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    pointer-events: none !important;
  }

  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

  .mat-stepper-header {
    pointer-events: none !important;
  }
</style>
<div class="main-content">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="">
              <div class="">
                <h4 style="margin: 11px; font-family: 'Roboto'">
                  {{ tituloFormulario }}
                </h4>
                <h4 *ngIf="itemsolicitud" style="font-weight: 600; margin: 11px">
                  Sol. Nº:
                  <span style="color: #e40421">{{ itemsolicitud?.id }}</span>
                </h4>
                <mat-stepper class="disable-click" [selectedIndex]="activeStepIndex" [linear]="isLinear"
                  class="horizontal-stepper">

                  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                    <ng-template matStepLabel>
                      <div style="
                          text-transform: uppercase;
                          font-weight: bold;
                          color: black;
                        ">
                        Inicio Solicitud
                      </div>
                      <div *ngIf="getHistorialByStatus('Registrado')" style="color: black">
                        Fecha:
                        {{
                        getHistorialByStatus("Registrado")?.fechaCreacion
                        | date : "dd/MM/yyyy HH:mm:ss"
                        }}<br />
                        Usuario:
                        {{
                        getHistorialByStatus("Registrado")?.usuario[0].nombre
                        }}
                      </div>
                    </ng-template>
                    <br />
                    <div class="row" style="font-size: 14px; margin-left: 12px">
                      <div class="col-lg-5">
                        <app-formulario-epdp [user]="user"
                          (dataChanged)="onDataChangeduser($event)"></app-formulario-epdp>
                      </div>
                      <div class="col-lg-7">
                        <div class="col-lg-12" *ngIf="user.tipoDocumento == 'DNI'">
                          <h3>Documentos Persona Natural:</h3>
                        </div>
                        <div class="col-lg-12" *ngIf="user.tipoDocumento !== 'DNI'">
                          <h3>Documentos Persona Jurídica</h3>
                        </div>

                        <div class="row" *ngIf="user.tipoDocumento !== 'DNI'">
                          <div class="col-lg-6">
                            <label for="archivofactura">Archivo: </label>
                            <div class="form-control">
                              <input type="file" id="archivofactura" (change)="onArchivoSeleccionado($event)"
                                required />
                              <button mat-mini-fab color="primary" *ngIf="user.id && +user.id > 0"
                                (click)="descargararchivo()">
                                <mat-icon>cloud_download</mat-icon>
                              </button>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <label for="nronumeroFactura">Numero de factura SUNAT:</label>
                            <input type="text" id="nronumeroFactura" class="form-control"
                              [(ngModel)]="user.numeroFactura" required />
                          </div>
                        </div>
                        <app-files [EstadoSolicitud]="EstadoSolicitud" [filasData]="filasData"
                          [filasDatasaved]="filasDatasaved" (dataChanged)="onDataChanged($event)"></app-files>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="margin: 9px; background: #212121" (click)="RegistrarSolicitud()">
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                          </button>
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible && paso1Enviar" color="primary"
                            (click)="Envio('paso1')" style="margin: 9px">
                            <mat-icon>send</mat-icon>
                            <span>Enviar</span>
                          </button>

                          <button mat-fab class="mat-fab-extended" color="primary"
                            style="margin: 9px; background: #e40421" (click)="volver()">
                            <mat-icon>reply_all</mat-icon>
                            <span>Regresar</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div style="display: none">
                      <button mat-button matStepperNext class="btn btn-primary">
                        Siguiente
                      </button>
                    </div>
                  </mat-step>

                  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                    <!--<ng-template matStepLabel>Aprobado por Gerencia</ng-template> -->
                    <ng-template matStepLabel>
                      <div style="
                          text-transform: uppercase;
                          font-weight: bold;
                          color: black;
                        ">
                        Aprobado por Gerencia
                      </div>
                      <div *ngIf="getHistorialByStatus('Revision Gerencia')" style="color: black">
                        Fecha:
                        {{
                        getHistorialByStatus("Revision Gerencia")
                        ?.fechaCreacion | date : "dd/MM/yyyy HH:mm:ss"
                        }}<br />
                        Usuario:
                        {{
                        getHistorialByStatus("Revision Gerencia")?.usuario[0]
                        .nombre
                        }}
                      </div>
                    </ng-template>
                    <br />

                    <div class="row" style="font-size: 14px; margin-left: 12px">
                      <div class="col-lg-5">
                        <app-formulario-epdp [user]="user"
                          (dataChanged)="onDataChangeduser($event)"></app-formulario-epdp>
                      </div>
                      <div class="col-lg-7">
                        <div class="col-lg-12" *ngIf="user.tipoDocumento == 'DNI'">
                          <h3>Documentos Persona Natural:</h3>
                        </div>
                        <div class="col-lg-12" *ngIf="user.tipoDocumento !== 'DNI'">
                          <h3>Documentos Persona Jurídica</h3>
                        </div>

                        <div class="row" *ngIf="user.tipoDocumento !== 'DNI'">

                          <div class="col-lg-6">
                            <label for="archivofactura">Archivo: </label>
                            <div class="form-control" style="height: auto!important;">
                              <p *ngIf="itemsolicitud?.archivoFactura != null && itemsolicitud?.archivoFactura != '' ">
                                <b> Nombre del archivo:</b>&nbsp;&nbsp;
                                {{ itemsolicitud?.archivoFactura }}
                              </p>
                              <button mat-mini-fab color="primary"
                                *ngIf="user.id && +user.id > 0 && itemsolicitud?.archivoFactura"
                                (click)="descargararchivo()">
                                <mat-icon>cloud_download</mat-icon>
                              </button>

                            </div>
                            <p *ngIf="itemsolicitud?.archivoFactura == null || itemsolicitud?.archivoFactura == '' ">
                              -- Sin archivo --
                            </p>
                          </div>


                          <div class="col-lg-6">
                            <label for="nronumeroFactura">Numero de factura SUNAT:</label>
                            <input type="text" id="nronumeroFactura" class="form-control"
                              [(ngModel)]="user.numeroFactura" required />
                          </div>
                        </div>
                        <app-files [EstadoSolicitud]="EstadoSolicitud" [filasData]="filasData"
                          [filasDatasaved]="filasDatasaved" (dataChanged)="onDataChanged($event)"></app-files>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <!--
                    <button mat-fab  class="mat-fab-extended"  *ngIf="AccionVisible" color="primary"style="margin: 9px;background: #212121;" (click)="RegistrarSolicitud()">
                      <mat-icon>save</mat-icon>
                      <span>Guardar</span>
                    </button> -->

                        <div class="col-lg-12" *ngIf="user.tipoDocumento == 'DNI'">
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="background: #212121; margin: 9px" (click)="Devolver('paso2')">
                            <mat-icon>feedback</mat-icon>
                            <span>Devolver</span>
                          </button>

                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="background: #e40421; margin: 9px" (click)="Rechazar('paso2')">
                            <mat-icon>report_off</mat-icon>
                            <span>Rechazar</span>
                          </button>
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="margin: 9px" (click)="Envio('paso2')">
                            <mat-icon>check</mat-icon>
                            <span>Aprobar</span>
                          </button>

                          <!-- <button mat-fab  class="mat-fab-extended"     color="primary" style="margin: 9px;background: #E40421;" (click)="volver()" >
                      <mat-icon>reply_all</mat-icon>
                      <span>Regresar</span>
                    </button>  -->
                        </div>
                        <div class="col-lg-12" *ngIf="user.tipoDocumento !== 'DNI'">
                          <div class="col-lg-12">


                            <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                              style="background: #212121; margin: 9px" (click)="Devolver('paso2')">
                              <mat-icon>feedback</mat-icon>
                              <span>Devolver</span>
                            </button>

                            <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                              style="background: #e40421; margin: 9px" (click)="Rechazar('paso2')">
                              <mat-icon>report_off</mat-icon>
                              <span>Rechazar</span>
                            </button>

                            <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                              style="margin: 9px" (click)="Envio('paso2')">
                              <mat-icon>check</mat-icon>
                              <span>Aprobar</span>
                            </button>

                            <button mat-fab class="mat-fab-extended" *ngIf="registroSapVisible" color="primary"
                              style="background: #212121; margin: 9px" (click)="Envio('paso2')">
                              <mat-icon>check</mat-icon>
                              <span>Aplicar Registro Conforme SAP Y Enviar</span>
                            </button>

                            <button mat-fab class="mat-fab-extended" *ngIf="registroSapVisible" color="primary"
                              style="margin: 9px" (click)="Devolver('paso3')">
                              <mat-icon>check</mat-icon>
                              <span>Observar</span>
                            </button>

                            <button mat-fab class="mat-fab-extended" color="primary"
                              style="margin: 9px; background: #e40421" (click)="volver()">
                              <mat-icon>reply_all</mat-icon>
                              <span>Regresar</span>
                            </button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-step>

                  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                    <!--<ng-template matStepLabel >Aprobado por Contabilidad</ng-template>-->
                    <ng-template matStepLabel>
                      <div style="
                          text-transform: uppercase;
                          font-weight: bold;
                          color: black;
                        ">
                        {{TituloContabilidad}}
                      </div>
                      <div *ngIf="getHistorialByStatus('Revision Contabilidad')" style="color: black">
                        Fecha:
                        {{
                        getHistorialByStatus("Revision Contabilidad")
                        ?.fechaCreacion | date : "dd/MM/yyyy HH:mm:ss"
                        }}<br />
                        Usuario:
                        {{
                        getHistorialByStatus("Revision Contabilidad")
                        ?.usuario[0].nombre
                        }}
                      </div>
                    </ng-template>
                    <br />
                    <div class="row" style="font-size: 14px; margin-left: 12px">
                      <div class="col-lg-5">
                        <app-formulario-epdp [user]="user"
                          (dataChanged)="onDataChangeduser($event)"></app-formulario-epdp>
                      </div>
                      <div class="col-lg-7">
                        <div class="col-lg-12" *ngIf="user.tipoDocumento == 'DNI'">
                          <h3>Documentos Persona Natural:</h3>
                        </div>
                        <div class="col-lg-12" *ngIf="user.tipoDocumento !== 'DNI'">
                          <h3>Documentos Persona Jurídica</h3>
                        </div>

                        <div class="row" *ngIf="user.tipoDocumento !== 'DNI'">

                          <div class="col-lg-6">
                            <label for="archivofactura">Archivo: </label>
                            <div class="form-control" style="height: auto!important;">
                              <p *ngIf="itemsolicitud?.archivoFactura != null && itemsolicitud?.archivoFactura != '' ">
                                <b> Nombre del archivo:</b>&nbsp;&nbsp;
                                {{ itemsolicitud?.archivoFactura }}
                              </p>
                              <button mat-mini-fab color="primary"
                                *ngIf="user.id && +user.id > 0 && itemsolicitud?.archivoFactura"
                                (click)="descargararchivo()">
                                <mat-icon>cloud_download</mat-icon>
                              </button>
                            </div>
                            <p *ngIf="itemsolicitud?.archivoFactura == null || itemsolicitud?.archivoFactura == '' ">
                              -- Sin archivo --
                            </p>
                          </div>

                          <div class="col-lg-6">
                            <label for="nronumeroFactura">Numero de factura SUNAT:</label>
                            <input type="text" id="nronumeroFactura" class="form-control"
                              [(ngModel)]="user.numeroFactura" required />
                          </div>
                        </div>
                        <app-files [EstadoSolicitud]="EstadoSolicitud" [filasData]="filasData"
                          [filasDatasaved]="filasDatasaved" (dataChanged)="onDataChanged($event)"></app-files>
                          <br>
                          
                          <div class="">
                            <div class="mat-form-field--inline">
                              <mat-form-field appearance="outline" style="color:black !important;width:47%;">
                                <mat-label [style.color]="'black'"  style="font-size: 17px">Motivo rechazo/Motivo devolución</mat-label>
                                <textarea matInput [(ngModel)]="mRechazoMDevolucion" style="color:black;" readonly name="mRechazoMDevolucion"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="background: #212121; margin: 9px" (click)="Devolver('paso3')">
                            <mat-icon>feedback</mat-icon>
                            <span>Devolver</span>
                          </button>

                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="background: #e40421; margin: 9px" (click)="Rechazar('paso3')">
                            <mat-icon>report_off</mat-icon>
                            <span>Rechazar</span>
                          </button>

                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="margin: 9px" (click)="Envio('paso3')">
                            <mat-icon>check</mat-icon>
                            <span>Conforme en SAP</span>
                          </button>

                          <button mat-fab class="mat-fab-extended" color="primary"
                            style="margin: 9px; background: #e40421" (click)="volver()">
                            <mat-icon>reply_all</mat-icon>
                            <span>Regresar</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-step>

                  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                    <ng-template matStepLabel>
                      <div style="
                          text-transform: uppercase;
                          font-weight: bold;
                          color: black;
                        ">
                        Aprobado por Tesoreria
                      </div>
                      <div *ngIf="
                          getHistorialByStatus('Revision Tesoreria') &&
                          EstadoSolicitud == 'Revision Tesoreria'
                        " style="color: black">
                        Fecha:
                        {{getHistorialByStatus("Revision Tesoreria") ?.fechaCreacion | date : "dd/MM/yyyy HH:mm:ss"}}
                        <br />
                        Usuario:
                        {{getHistorialByStatus("Revision Tesoreria")?.usuario[0].nombre}}
                      </div>
                      <div *ngIf="
                          getHistorialByStatus('Aplicado Tesoreria') &&
                          EstadoSolicitud == 'Aplicado Tesoreria'
                        " style="color: black">
                        Fecha:
                        {{
                        getHistorialByStatus("Aplicado Tesoreria")
                        ?.fechaCreacion | date : "dd/MM/yyyy HH:mm:ss"
                        }}<br />
                        Usuario:
                        {{
                        getHistorialByStatus("Aplicado Tesoreria")?.usuario[0]
                        .nombre
                        }}
                      </div>
                    </ng-template>
                    <br />

                    <div class="row" style="font-size: 14px; margin-left: 12px">
                      <div class="col-lg-5">
                        <app-formulario-epdp [user]="user"
                          (dataChanged)="onDataChangeduser($event)"></app-formulario-epdp>

                          <div class="" *ngIf="itemsolicitud">
                            <div class="mat-form-field--inline">
                              <mat-form-field appearance="outline" style="color:black !important;width:100%;">
                                <mat-label [style.color]="'black'"  style="font-size: 17px">Comentario Contabilidad</mat-label>
                                <textarea matInput [(ngModel)]="itemsolicitud.comentarioContabilidad" style="color:black;"  readonly name="comentarioContabilidad"></textarea>
                              </mat-form-field>
                            </div>
                          </div>

                      </div>
                      <div class="col-lg-7">
                        <div class="col-lg-12" *ngIf="user.tipoDocumento == 'DNI'">
                          <h3>Documentos Persona Natural:</h3>
                        </div>
                        <div class="col-lg-12" *ngIf="user.tipoDocumento !== 'DNI'">
                          <h3>Documentos Persona Jurídica</h3>
                        </div>

                        <div class="row" *ngIf="user.tipoDocumento !== 'DNI'">
                          <div class="col-lg-6">
                            <label for="archivofactura">Archivo: </label>
                            <div class="form-control" style="height: auto!important;">
                              <p *ngIf="itemsolicitud?.archivoFactura != null && itemsolicitud?.archivoFactura != '' ">
                                <b> Nombre del archivo:</b>&nbsp;&nbsp;
                                {{ itemsolicitud?.archivoFactura }}
                              </p>
                              <button mat-mini-fab color="primary"
                                *ngIf="user.id && +user.id > 0 && itemsolicitud?.archivoFactura"
                                (click)="descargararchivo()">
                                <mat-icon>cloud_download</mat-icon>
                              </button>
                            </div>
                            <p *ngIf="itemsolicitud?.archivoFactura == null || itemsolicitud?.archivoFactura == '' ">
                              -- Sin archivo --
                            </p>
                          </div>

                          <div class="col-lg-6">
                            <label for="nronumeroFactura">Numero de factura SUNAT:</label>
                            <input type="text" id="nronumeroFactura" class="form-control"
                              [(ngModel)]="user.numeroFactura" required />
                          </div>
                        </div>
                        <app-files [EstadoSolicitud]="EstadoSolicitud" [filasData]="filasData"
                          [filasDatasaved]="filasDatasaved" (dataChanged)="onDataChanged($event)"></app-files>
                          <br>
                          <div class="" *ngIf="mRechazoMDevolucion">
                            <div class="mat-form-field--inline">
                              <mat-form-field appearance="outline" style="color:black !important;width:70%;">
                                <mat-label [style.color]="'black'"  style="font-size: 17px">Motivo rechazo/Motivo devolución</mat-label>
                                <textarea matInput [(ngModel)]="mRechazoMDevolucion" style="color:black;"  readonly name="mRechazoMDevolucion"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                        <div class="col-lg-12">
                          <div class="row" style="margin-top: 50px">
                            <div class="col-lg-12">
                              <div class="col-lg-12">
                                <label>Fecha de aplicacion:</label>
                                <mat-form-field appearance="outline" style="width: 100%">
                                  <input class="form-input" matInput [matDatepicker]="picker"
                                    [disabled]="inputsTesoreria" [(ngModel)]="fechaAplicacion" />
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div class="col-lg-12">
                                <label>Registro Contable:</label>
                                <mat-form-field appearance="outline" style="color: black !important; width: 100%">
                                  <input matInput [(ngModel)]="numSap" [disabled]="inputsTesoreria" style="color: black"
                                    placeholder="Ingrese" required />
                                </mat-form-field>
                              </div>
                              <div class="col-lg-12">
                                <label for="archivoNotaCreditotesoreria">Archivo adjunto tesoreria</label>
                                <input type="file" id="archivoNotaCreditotesoreria" class="form-control" (change)="
                                    onArchivoSeleccionadoTesoreria($event)
                                  " *ngIf="!itemsolicitud?.archivoTesoreria" [disabled]="inputsTesoreria" required />
                                <p>
                                  <b> Nombre del archivo:</b>&nbsp;&nbsp;
                                  {{ itemsolicitud?.archivoTesoreria }}

                                  <button mat-mini-fab color="primary"
                                    *ngIf="user.id && +user.id > 0 && itemsolicitud?.archivoFactura"
                                    (click)="descargararchivoTesoreria()">
                                    <mat-icon>cloud_download</mat-icon>
                                  </button>

                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="background: #212121; margin: 9px" (click)="ObservarTesoreria()">
                            <mat-icon>announcement</mat-icon>
                            <span>Observar</span>
                          </button>
                          <button mat-fab class="mat-fab-extended" *ngIf="AccionVisible" color="primary"
                            style="margin: 9px" (click)="AplicarTesoreria()">
                            <mat-icon>check_circle_outline</mat-icon>
                            <span>Aplicar</span>
                          </button>

                          <button mat-fab class="mat-fab-extended" color="primary"
                            style="margin: 9px; background: #e40421" (click)="volver()">
                            <mat-icon>reply_all</mat-icon>
                            <span>Regresar</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-step>


                </mat-stepper>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
