<ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#0D7ABD" type="ball-beat" [fullScreen]="true">
  <p style="color: black">Loading...</p>
</ngx-spinner>
<style>
  section {
    display: table;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .vacios_ {
    color: #e51717;
    font-weight: 600;
  }

  .mat-fab-extended {

    border-radius: 5px !important;
    width: auto;
    height: auto;
    padding: 0 16px;
    min-width: 64px;
    min-height: 36px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .mat-fab-extended span {
    margin-left: 8px;
  }

  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

  .mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 25px;
  }

  .long-text-column {
    white-space: normal;
    width: 300px !important;
  }

  .long-text-column2 {
    white-space: normal;
    width: 150px !important;
  }

  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Estilo para el encabezado (thead) */

  .mat-header-cell {
    font-size: 16px;
    /* Tamaño del texto según tus preferencias */
    white-space: nowrap;
    /* Evita el salto de línea en el texto */
    padding: 10px;
    /* Ajusta este valor para agregar espacio entre las celdas */
  }

  thead {
    background-color: #e0e0e0;
    /* Cambia este color al que desees */
  }

  .mat-header-cell[_ngcontent-mlh-c307] {
    font-size: 16px;
    white-space: nowrap;
    padding: 10px;
    background: #e8e8eb;
  }
</style>

<div class="content-body">
  <div class="container-fluid">

    <div class="row page-titles mx-0" style="padding: 0 !important;
    background: transparent !important;
    margin-bottom: 0 !important;
    border-radius: 5px !important;
    margin-top: -20px !important;">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Reporte!</h4>
          <p class="mb-0">Listado de reporte</p>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Reporte</a></li>
        </ol>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
            <div class="col-lg-2" style="margin: 9px;">
              <button mat-raised-button color="primary" style="color: white;" (click)="listarRegistroScan()">
                <mat-icon>search</mat-icon>
                Refrescas
              </button>
            </div>
          <div class="col-lg-2" style="margin: 9px;">
            <button mat-raised-button color="accent" style="color: white;" (click)="exportToExcel()"
              *ngIf="listScan.length>0">
              <mat-icon>archive</mat-icon>
              Exportar excel
            </button>
          </div>
        </div>
          
            <div class="table-responsive">
              <table class="table table-sm mb-0 table-responsive-lg text-black">
                <thead>
                  <tr> 
                    <th class="align-middle">Id</th>
                    <th class="align-middle">Marca</th>
                    <th class="align-middle pr-7">Tipo</th>
                    <th class="align-middle minw200">Modelo</th>
                    <th class="align-middle text-right">MODELO BASICO</th>
                    <th class="align-middle text-right">MODELO 16 BIT</th>
                    <th class="align-middle text-right">VIN</th>
                    <th class="align-middle text-right">Fecha Scan</th>
                    
                    <th class="align-middle"> Detalle
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="btn-reveal-trigger" *ngFor="let registro of listScan"> 
                    <td class="py-2">{{ registro.id }}</td>
                    <td class="py-2">{{ registro.marca }}</td>
                    <td class="py-2">{{ registro.tipoVehiculo }}</td>
                    <td class="py-2">{{ registro.modelo }}</td>
                    <td class="py-2 text-right">{{ registro.modelo_basico}}</td>
                    <td class="py-2 text-right">{{ registro.modelo_16bit}}</td>
                    <td class="py-2 text-right">{{ registro.vin }}</td> 
                    <td class="py-2 text-right">{{ registro.fecha | date:'dd/MM/yyyy' }}</td>
                    <td class="py-2">
                      <button  (click)="openPopupDetalle(registro.id, registro.detalle)">
                        <mat-icon>burst_mode</mat-icon>
                         </button> 
                    </td>
                  </tr>
                </tbody>
              </table>
              <table id="orders" class="table table-sm mb-0 table-responsive-lg text-black" style="display: none;">
                <thead>
                  <tr> 
                    <th class="align-middle">Marca</th>
                    <th class="align-middle">Modelo</th>
                    <th class="align-middle">Tipo de Vehículo</th>
                    <th class="align-middle">VIN</th>
                    <th class="align-middle">Fecha</th>
                    <th class="align-middle">Componente</th>
                    <th class="align-middle">Nombre</th>
                    <th class="align-middle">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of listExport"> 
                    <td>{{ row.marca }}</td>
                    <td>{{ row.modelo }}</td>
                    <td>{{ row.tipoVehiculo }}</td>
                    <td>{{ row.vin }}</td>
                    <td>{{ row.fecha }}</td>
                    <td>{{ row.componente }}</td>
                    <td>{{ row.nombre }}</td>
                    <td>{{ row.valor }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
   

<br><br><br><br><br>
    </div>
 
  </div>
</div> 
