
.btn-primary {
    background-color: #0869c1 !important;
    border-color: #6c757d;
}
.btn-suscess {
    background-color: #08c14f !important;
    border-color: #6c757d;
    color: white;
}

.card-category{
    margin: 18px !important;
}

.bg-light {
    background-color: #ffffff !important;
    box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
}
fieldset {
    padding: 20px;
    border: solid 1px #c7c7c7c7;
}
fieldset legend {
    color: #011b39e8;
}
/*
fieldset .mat-form-field {
    padding: 10px 0;
}*/
/*<div class="example-container">
                  <fieldset>
                    <legend>Name and Location</legend>
                
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                      <mat-label [style.color]="'black'"  style="font-size: 17px">Enter some input</mat-label>
                      <input matInput #input maxlength="10" placeholder="Ex. Nougat" />
                      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" fxFill>
                      <mat-label [style.color]="'black'"  style="font-size: 17px">Select me</mat-label>
                      <mat-select>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
                    <!-- <button mat-raised-button>REset NAme and Location</button> -->
                    <div fxLayoutAlign="end">
                      <button
                            type="button"
                            mat-button
                            matTooltip="Reset Name and Location"
                            matTooltipPosition="left"
                            class="text-with-icon"
                          >
                            <mat-icon color="accent">undo</mat-icon><span>Reset</span>
                          </button>
                    </div>
                  </fieldset>
                
                  <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                    <mat-label [style.color]="'black'"  style="font-size: 17px">Enter some input</mat-label>
                    <input matInput #input maxlength="10" placeholder="Ex. Nougat" />
                    <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                  </mat-form-field>
                </div>*/