.card {
    border: 0  !important;
    margin-bottom: 30px  !important;
    margin-top: 30px  !important;
}
.card {
 
    border-radius: 0.25rem  !important;
}
.card {
    font-size: 0.875rem  !important;
}

.primary{
  background-color:   #673ab7;
}

.btn-primary {
    background-color: #0869c1 !important;
    border-color: #6c757d;
}
.btn-suscess {
    background-color: #08c14f !important;
    border-color: #6c757d;
    color: white;
}
