 
 
 <ngx-spinner
 bdColor="rgba(255, 255, 255, 1)"
 size="medium"
 color="#0D7ABD"
 type="ball-beat"
 [fullScreen]="true"
 ><p style="color: black">Loading...</p></ngx-spinner>        
 <style>
  .table-responsive{
    max-height: 410px !important;
  }
 </style>
<div class="">
    <div class="card-header card-header-warning" style="  margin-top: 60px;  width: 9%; 
    padding-top: 0px;"> 
    </div>
    <div class="main-content" >
        <div class="container-fluid"> 
    
            <div class="col-lg-12">
              <div class="row">
                <!-- Sección de Mantenimiento de Marca -->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="row col-lg-12" style="margin: 5px;">
                        <div class="col-lg-8">
                          <h4>Mantenimiento Marca</h4>
                        </div>
                        <div class="col-lg-4">
                          <button class="button-add-row" mat-button (click)="addRowMarca()">Agregar</button>
                        </div>
                      </div>
              
                      <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourceMarca" style="margin-top: 5px;">
                          <!-- Columnas de la tabla de Marca -->
                          <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
                            
                             <th mat-header-cell  *matHeaderCellDef [ngSwitch]="col.key" style="text-align: center;">
                              <span *ngSwitchDefault>{{ col.label }}</span>
                            </th> 
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                              <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                <!-- Mostrar datos sin editar -->
                                <span *ngSwitchCase="'date'">{{ element[col.key] | date: 'mediumDate' }}</span>
                                <span *ngSwitchDefault>{{ element[col.key] }}</span>
                                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <button mat-button (click)="element.isEdit = !element.isEdit">Editar</button>
                                  <button mat-button class="button-remove" (click)="deleteUser(element.id, 'Marca')">Eliminar</button>
                                </div>
                              </div>
                              <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                <!-- Mostrar campos de edición -->
                                <div *ngSwitchCase="'isSelected'"></div>
                                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <button mat-button (click)="editRow(element, 'Marca')" [disabled]="disableSubmit(element.id)">
                                    Guardar
                                  </button>
                                  <button mat-button (click)="cancelar(element)">Cancelar</button>
                                </div>
                
                                <!-- Input para editar nombre -->
                                <mat-form-field class="form-input" *ngSwitchCase="'text'">
                                  <input matInput [required]="col.required" [type]="col.type" [(ngModel)]="element[col.key]"
                                    (change)="inputHandler($event, element.id, col.key)" />
                                </mat-form-field>
                              </div>
                            </td>
                          </ng-container>
                          <!-- Definición de las filas y columnas -->
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>

                      </div>

                    </div>
                  </div>
                </div>
              
                <!-- Sección de Mantenimiento de Modelo -->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="row col-lg-12" style="margin: 5px;">
                        <div class="col-lg-8">
                          <h4>Mantenimiento Modelo</h4>
                        </div>
                        <div class="col-lg-4">
                          <button class="button-add-row" mat-button (click)="addRowModelo()">Agregar</button>
                        </div>
                      </div>
                      <div class="table-responsive">
                      <table mat-table [dataSource]="dataSourceModelo">
                        <!-- Columnas de la tabla de Modelo -->
                        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsParametroSchema">
                          <th mat-header-cell  *matHeaderCellDef [ngSwitch]="col.key" style="text-align: center;">
                            <span *ngSwitchDefault>{{ col.label }}</span>
                          </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                              <!-- Mostrar datos sin editar -->
                              <span *ngSwitchCase="'select'">{{ obtenerMarca(element[col.key])}}</span>
                              <span *ngSwitchDefault>{{ element[col.key] }}</span>
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="element.isEdit = !element.isEdit">Editar</button>
                                <button mat-button class="button-remove" (click)="deleteUser(element.id, 'Modelo')">Eliminar</button>
                              </div>
                            </div>
                            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                              <!-- Mostrar campos de edición --> 
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="editRow(element, 'Modelo')" [disabled]="disableSubmit(element.id)">
                                  Guardar
                                </button>
                                <button mat-button (click)="cancelar(element)">Cancelar</button>
                              </div>
              
                              <!-- Input para editar nombre -->
                              <mat-form-field class="form-input" *ngSwitchCase="'text'">
                                <input matInput [required]="col.required" [type]="col.type" [(ngModel)]="element[col.key]"
                                  (change)="inputHandler($event, element.id, col.key)" />
                              </mat-form-field>
                                                              <!-- Select para editar nombre -->
                                <mat-form-field class="form-input" *ngSwitchCase="'select'"  style="width: 100% !important;
                                min-width: 152px;
                            "> 
                                  <mat-select [(ngModel)]="element[col.key]"  >
                                    <mat-option *ngFor="let marca of listMarcas" [value]="marca.id_marca">
                                      {{ marca.nombre }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <!-- Definición de las filas y columnas -->
                        <tr mat-header-row *matHeaderRowDef="displayedParametroColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedParametroColumns"></tr>
                      </table></div>
                    </div>
                  </div>
                </div>
              
                <!-- Sección de Mantenimiento de Tipo Vehículo -->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="row col-lg-12" style="margin: 5px;">
                        <div class="col-lg-8">
                          <h4>Mantenimiento Tipo Vehículo</h4>
                        </div>
                        <div class="col-lg-4">
                          <button class="button-add-row" mat-button (click)="addRow()">Agregar</button>
                        </div>
                      </div>
                      <div class="table-responsive">
                      <table mat-table [dataSource]="dataSourceVehiculo" style="margin-top: 5px;">
                        <!-- Columnas de la tabla de Tipo Vehículo -->
                        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
                          <th mat-header-cell  *matHeaderCellDef [ngSwitch]="col.key" style="text-align: center;">
                            <span *ngSwitchDefault>{{ col.label }}</span>
                          </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                              <!-- Mostrar datos sin editar -->
                              <span *ngSwitchCase="'date'">{{ element[col.key] | date: 'mediumDate' }}</span>
                              <span *ngSwitchDefault>{{ element[col.key] }}</span>
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="element.isEdit = !element.isEdit">Editar</button>
                                <button mat-button class="button-remove" (click)="deleteUser(element.id, 'Vehiculo')">Eliminar</button>
                              </div>
                            </div>
                            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                              <!-- Mostrar campos de edición -->
                              <div *ngSwitchCase="'isSelected'"></div>
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="editRow(element, 'Vehiculo')" [disabled]="disableSubmit(element.id)">
                                  Guardar
                                </button>
                                <button mat-button (click)="cancelar(element)">Cancelar</button>
                              </div>
              
                              <!-- Input para editar nombre -->
                              <mat-form-field class="form-input" *ngSwitchCase="'text'">
                                <input matInput [required]="col.required" [type]="col.type" [(ngModel)]="element[col.key]"
                                  (change)="inputHandler($event, element.id, col.key)" />
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <!-- Definición de las filas y columnas -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                      </table></div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
         </div>
    </div>
    
    </div>
               