<div class="row">
	<div class="col-sm-6">
		<p>
		  <mat-form-field appearance="legacy">
			<mat-label [style.color]="'black'"  style="font-size: 17px">Legacy form field</mat-label>
			<input matInput placeholder="Placeholder">
			<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			<mat-hint>Hint</mat-hint>
		  </mat-form-field>
		</p>
	</div>
	<div class="col-sm-6">
		<p>
		  <mat-form-field appearance="standard">
			<mat-label [style.color]="'black'"  style="font-size: 17px">Standard form field</mat-label>
			<input matInput placeholder="Placeholder">
			<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			<mat-hint>Hint</mat-hint>
		  </mat-form-field>
		</p>
	</div>
	<div class="col-sm-6">
		<p>
		  <mat-form-field appearance="fill">
			<mat-label [style.color]="'black'"  style="font-size: 17px">Fill form field</mat-label>
			<input matInput placeholder="Placeholder">
			<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			<mat-hint>Hint</mat-hint>
		  </mat-form-field>
		</p>
	</div>
	<div class="col-sm-6">
		<p>
		  <mat-form-field appearance="outline">
			<mat-label [style.color]="'black'"  style="font-size: 17px">Outline form field</mat-label>
			<input matInput placeholder="Placeholder">
			<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			<mat-hint>Hint</mat-hint>
		  </mat-form-field>
		</p>
	</div>
</div>
